.uk-margin-top
  %ul.uk-tab    
    %li
      %li.uk-active
        = link_to 'Dashboard', '/store/dashboard'
    %li
      = link_to 'Order', '/store/orders'
    %li
      = link_to 'Catalog', '/store/orders'  
    %li
      = link_to 'Stats', '/store/orders'  
    %li
      = link_to 'Settings', '/store/orders'  

  

