= form_for(@product, :html=> {:multipart => true,:class => "uk-form uk-form-stacked"},:url => {:controller => 'products',:action=>"create"}) do |f|
  - if @product.errors.any?
    #error_explanation
    = pluralize(@product.errors.count, "error")
    prohibited this @product from being saved:

  %ul
  - @product.errors.full_messages.each do |message|
    %li= message
  .uk-form-row
    = f.label :pic, :class => "uk-form-label"    
    .uk-form-controls
      = f.file_field :pic, :class => 'uk-width-1-1' 
  .uk-form-row
    = f.label :name, :class => "uk-form-label"    
    .uk-form-controls
      = f.text_field :name, :class => "uk-width-1-1",:type => "text"      
  .uk-form-row
    = f.label 'Item ID', :class => "uk-form-label"        
    .uk-form-controls
      = f.text_field :product_id, :class => "uk-width-1-1",:type => "text"            
      %small
        %em
          Unique identifier of this item
  .uk-form-row
    = f.label :description, :class => "uk-form-label"        
    .uk-form-controls
      = f.text_area :description, :class => "uk-width-1-1",:type => "text", :rows => 5            
    %small
      %em
        Entise your customers, provide a good description of this item  
  .uk-form-row
    = f.label :caegory, :class => "uk-form-label"
    .uk-form-controls
      = select_tag 'store_product[product_category_id]', options_from_collection_for_select(Store::Product::Category.all, "id", "name"), {'class' => 'uk-width-2-4',:prompt => 'choose category'}
  .uk-form-row
    = f.label :price, :class => "uk-form-label"        
    .uk-form-controls
      RM
      = f.text_field :price,:type => "number", :min => "0", :max => "9999", :step => "0.10", :size => "4",:title => "CDA Currency Format - no RM sign and no comma(s) - cents (.##) are optional"                  
  .uk-form-row
    = f.submit 'Setup My Store', :class => "uk-button uk-button-primary uk-width-1-1"
  -#    
    .uk-form-row
      %label.uk-form-label{:for => "form-s-s"} Category
      .uk-form-controls
        %select#form-s-s
          %option Wedding
          %option Funeral
  -#
    .uk-form-row
      %span.uk-form-label Color
      .uk-form-controls      
        
        %input#form-s-r1{:name => "radio", :type => "radio"}/
        %label{:for => "form-s-r1"} Red 
      %label
        %input{:name => "radio", :type => "radio"}/
        Blue
      %label
        %input{:name => "radio", :type => "radio"}/
        Green
  