<p id="notice"><%= notice %></p>

<p>
  <strong>Att1:</strong>
  <%= @test.att1 %>
</p>

<p>
  <strong>Att2:</strong>
  <%= @test.att2 %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
