%h1 New City

= form_for( @state , :url => {:action => 'new' })do |f|
  - if @state.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_genre.errors.count, "error")} prohibited this admin_genre from being saved:"
      %ul
        - @state.errors.full_messages.each do |msg|
          %li= msg

  .field
    %label
      State

    = f.text_field :name
  -#  
    .field
      = f.label :slug
      = f.text_field :slug
  .actions
    = f.submit 'Save'

= link_to 'Back', '/admin/states'
